@use '../abstracts/_mixins.scss' as mx;
@use '../base/variables' as v;

.btn {
    display: flex
}

.btn__primario {
    @include mx.btn(v.$primario);
}

.btn__secundario {
    @include mx.btn(v.$blanco);
    color: v.$blanco;
    color: v.$negro;
}