@use '../../styles/base/variables' as v;
@use '../../styles/abstracts/mixins' as m;

$anchos1: 7rem, 5rem, 2rem, 6rem, 3rem, 6rem, 4rem;
$anchos2: 7rem, 2rem, 6rem, 6rem, 2rem, 4rem, 5rem, 2rem, 5rem, 7rem;

.confianza {
    background-color: v.$blanco;
    border-radius: 8rem 8rem 0 0;
    margin: 5rem 0;
    padding: 7rem 0 4rem 0;

    &__cards {
        margin: 5rem 2.5rem;

        @include m.tablet_grande {
            @include m.grid(2, 2.5rem);
        }

        &--atencion,
        &--tipos,
        &--icono {
            border-radius: v.$b_radius;
            padding: 2.5rem;
            margin: 3rem 0;
        }

        &--atencion {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: v.$azul;
            grid-column: 1/2;
            grid-row: 1/2;

            @include m.tablet_grande {
                grid-column: 1/2;
                grid-row: 1/3;
            }

            .chat {
                display: flex;

                &__chat1,
                &__chat2 {
                    margin: 0 2rem;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: ' ';
                        width: 3rem;
                        height: 3rem;
                        margin: -1rem;
                        background-color: v.$blanco;
                        border-radius: 50%;
                        display: block;
                        bottom: 0;
                    }
                }

                &__chat1 {
                    margin: 25rem 2rem 0 2rem;

                    &::after {
                        right: 0;
                    }
                }
            }

            .burbuja {
                margin: 2rem 0;
                height: 30rem;
                background-color: v.$blanco;
                border-radius: v.$b_radius;
                width: 20rem;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @include m.telefono-grande {
                    width: 40rem;
                }

                .chat1,
                .chat2,
                .simulacion__btn {
                    max-width: 80%;
                    margin: 1rem auto;
                }

                .chat1,
                .chat2 {
                    border-radius: 1rem;
                    border: 1px solid #dddddd;
                    height: 8rem;
                    width: 80%;
                    padding: 1rem 2rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                }

                .chat1 {

                    .simulacion__texto {
                        @include m.simulacion-texto($anchos2);
                    }
                }

                .chat2 {
                    max-width: 80%;

                    .simulacion__texto {
                        @include m.simulacion-texto($anchos1);
                    }
                }

                .simulacion__btn {
                    background-color: v.$primario;
                    display: flex;
                    width: 90%;
                    align-items: center;
                    justify-content: center;
                    padding: 1.5rem;
                    border-radius: 1rem;

                    p {
                        color: v.$blanco;
                        font-weight: v.$bold;
                    }
                }
            }

            .contenido {
                margin: 3rem 2.5rem;
            }
        }

        &--tipos {
            background-color: v.$sombra;
            grid-column: 1/2;
            grid-row: 3/4;

            @include m.tablet_grande {
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }

        h4 {
            color: v.$negro;
            font-size: clamp(2rem, 2.4vw, 2.2rem);
        }

        &--icono {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: 1/2;
            grid-row: 2/3;

            @include m.tablet_grande {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
    }
}