@use "sass:color";
@use "sass:list";
@use '../base/variables' as v;

@mixin btn($bg_color) {
    display: inline-block;
    padding: 1rem 2rem;
    background: $bg_color;
    border-radius: v.$b_radius;
    cursor: pointer;
    font-weight: v.$delgada;
    transition: opacity 200ms ease-out;
    border: none;

    &:hover {
        opacity: 0.85;
    }
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin telefono-pequeno {
    @media (min-width: v.$telefono_pequeno) {
        @content;
    }
}

@mixin telefono-mediano {
    @media (min-width: v.$telefono_mediano) {
        @content;
    }
}

@mixin telefono-grande {
    @media (min-width: v.$telefono_grande) {
        @content;
    }
}

@mixin max-tablet-pequena {
    @media (max-width: v.$tablet_pequena) {
        @content;
    }
}

@mixin tablet-pequena {
    @media (min-width: v.$tablet_pequena) {
        @content;
    }
}

@mixin tablet-grande {
    @media (min-width: v.$tablet_grande) {
        @content;
    }
}

@mixin desktop-mediana {
    @media (min-width: v.$desktop_mediana) {
        @content;
    }
}

@mixin desktop-grande {
    @media (min-width: v.$desktop_grande) {
        @content;
    }
}

@mixin simulacion-texto($anchos) {
    width: 4rem;
    height: .5rem;
    background-color: v.$negro;

    @for $i from 1 through list.length($anchos) {
        &:nth-child(#{$i}) {
            width: list.nth($anchos, $i);
        }
    }
}