@use '../base/variables' as v;
@use '../abstracts/mixins' as m;

.contenedor {
    margin: 0 auto;
    width: min(90%, 140rem);
    overflow: hidden;
}

.contenedor-blog {
    margin: 0 auto;
    width: min(90%, 90rem);
    overflow: hidden;
}

.icono {
    height: 5rem;
    width: 5rem;
    background-color: v.$blanco;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resaltado {
    background-color: v.$azul;
    display: flex;
    margin: 2.5rem;

    &__linea {
        height: auto;
        width: .6rem;
        background-color: v.$secundario;

    }

    &__lista {
        padding: 4rem 6rem;
    }
}

.separadorLinea {

    &__positivo {
        background-color: v.$blanco;
        margin: 2.5rem 0;
        width: 100%;
        height: 1px;
    }

    &__negativo {
        background-color: v.$negro;
        margin: 2.5rem 0;
        width: 100%;
        height: 1px;
    }
}

.floating-whatsapp-chatbox {
    height: 355px !important;
}

.importante {
    margin-top: 2rem;
    background-color: v.$azul;
    padding: 2rem;
    border-radius: v.$b_radius;

    &__mensaje {
        font-size: clamp(1.3rem, 1.5vw, 1.4rem);
    }
}

.form-feedback {
    padding: 1rem 2rem;

    h3 {
        color: v.$blanco;
    }

    p {
        color: v.$blanco;
        margin-bottom: 2rem;
    }

    &--error {
        background-color: v.$alerta;
        border-radius: v.$b_radius;
        margin-top: 2.5rem;
    }

    &--success{
        background-color: v.$exito;
        border-radius: v.$b_radius;
        margin-top: 2.5rem;
    }

    .btn{
        display: flex;
        justify-content: end;

    }
}