@use '../../../styles/abstracts/mixins' as mx;
@use '../../../styles/base/variables' as v;

.fondoHeader {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5rem;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.288);
        z-index: 0;
    }

    &__contenido {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(0%, 30%);
        margin: 0 auto;
        max-width: 50%;
    }

    h4 {
        color: v.$blanco;
    }
}