@use '../../../styles/abstracts/mixins' as mx;
@use '../../../styles/base/variables' as v;

.form {

    &__campo {
        margin: 1.5rem 0;

        &--input {
            width: 100%;
            padding: 1rem;
            margin: .5rem 0;
            border-radius: .6rem;
            border: none;
        }

        textarea {
            height: 15rem;
        }

        textarea,
        select {
            font-size: clamp(1.4rem, 1.8vw, 1.6rem);
        }
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
    }

    &__error {
            font-size: clamp(1.2rem, 1.6vw, 1.4rem);
                color: v.$alerta;
    }
}