@use "../../styles/base/variables" as v;
@use "../../styles/abstracts/" as m;

.contactoFondo {
    background-color: v.$negro;

    main {
        background-color: v.$blanco;
        border-radius: 8rem;
    }
}

.cards {
    margin: 5rem 0;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;

    @include m.telefono_grande {
        flex-direction: row;
    }

    &__card {
        border: 1px solid v.$azul;
        border-radius: v.$b_radius;
        padding: 2rem 3rem;
        display: flex;
        gap: 2.5rem;
        flex: 1;
        align-items: center;

        &--icono {
            width: 7rem;
            height: 7rem;
            padding: 1rem;
            border: 1px solid v.$azul;
            border-radius: 50%;
        }

        &--informacion {

            p {
                color: v.$terciario;
                font-size: clamp(1.2rem, 1.6vw, 1.4rem);
            }
        }
    }
}

.ubicacion {
    padding: 5rem;
    margin-bottom: 5rem;
    @include m.grid(1, 2.5rem);
    align-items: center;
    border-radius: 6rem;
    background: radial-gradient(circle at bottom, rgba(8, 144, 208, 1) 0%, rgb(14, 55, 97) 100%);

    @include m.telefono_grande {
        @include m.grid(2, 2.5rem);
    }


    &__formulario,
    &__mapa {

        iframe {
            border-radius: 3rem;
            border: none;
            width: 100%;
        }
    }

    &__informacion {
        @include m.telefono_grande {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: -15rem;
        }
    }

    &__mapa {
        @include m.telefono_grande {
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: start;
        }
    }

    &__formulario {
        grid-row: 1/2;
        padding: 2.5rem;
        background-color: #ffffffde;
        border-radius: 3rem;

        @include m.telefono_grande {
            grid-column: 2/3;
            grid-row: 1/3;
        }

        h3 {
            text-align: left;
            font-weight: v.$bold;
            color: v.$primario;
        }
    }

    &__mapa {
        border: none;
    }

    &__informacion {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        h5 {
            font-weight: v.$bold;
        }

        p,
        h5 {
            color: v.$blanco;
        }
    }
}