@use "../../styles/base/variables" as v;
@use "../../styles/abstracts/mixins" as m;

.instituciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    &__institucion {
        display: flex;
        align-items: center;
        gap: 2rem;

        &--logo {
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.separador {
    background-color: v.$primario;
    height: 2rem;
    width: 100%;
    margin: 5rem 0 10rem 0;
}