@use '../../styles/abstracts/mixins' as mx;
@use '../../styles/base/variables' as v;

.header__fondo {
    background-image: url("../../assets/img/cielo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    @include mx.tablet-pequena {
        @include mx.grid(2, 2.5rem);
        align-items: center;
        margin-top: 20rem;

    }

    &__botones {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include mx.telefono-pequeno {
            flex-direction: row;
        }
    }

    &__izquierda {
        color: v.$blanco;
        margin: 4.1rem 0;

        h1,
        h4 {
            @include mx.telefono-pequeno {
                text-align: left;
            }
        }
    }

    &__derecha {
        img {
            width: 100%;
        }
    }
}