@use '../../styles/abstracts/mixins' as mx;
@use '../../styles/base/variables' as v;

.header__fondo {
    background-image: url("../../assets/img/img_header.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 0;
    }
}

.recorte__fondo {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    pointer-events: none;

    svg {
        display: block;
        width: 100%;
        height: auto;
    }
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;

    @include mx.tablet-pequena {
        @include mx.grid(2, 2.5rem);
        align-items: center;
    }

    &__botones {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include mx.telefono-pequeno {
            flex-direction: row;
        }

        @include mx.tablet-pequena {
            justify-content: left;

        }
    }

    &__izquierda {
        color: v.$blanco;
        margin: 4.1rem 0;
        z-index: 2;

        h1,
        h4 {
            @include mx.telefono-pequeno {
                text-align: left;
            }
        }

        h4 {
            text-align: justify;
        }
    }

    &__derecha {
        position: absolute;
        bottom: 0;
        right: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;

        img {
            margin-bottom: -5rem;
            max-width: 700px;
            height: auto;
            object-fit: contain;
            width: 100%;
        }
    }
}