@use '../../styles/base/variables' as v;
@use '../../styles/abstracts/mixins' as m;

footer {
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: v.$primario;
}

.footer {

    &__fondo {
        position: absolute;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        margin: 40rem 0;
        overflow: hidden;
        max-width: 100%;

        @include m.tablet-pequena {
            margin: 0;
            width: 90%;
        }

        h5 {
            font-size: 25rem;
            letter-spacing: 1rem;
            text-align: center;
            overflow: hidden;
            font-weight: v.$bold;
        color: v.$secundario-oscuro;
        }
    }

    &__navbar {
        position: relative;
        @include m.grid(1, 2.5rem);

        @include m.tablet-pequena {
            @include m.grid(5, 2.5rem);
        }

        &--links {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include m.tablet-pequena {
                margin: 10rem auto;
            }
        }

        &--title {
            margin: 0rem 0 3rem 0;

            @include m.tablet-pequena {
                margin: 0rem 0 1rem 0;
            }

            a {
                font-size: clamp(1.8rem, 2.2vw, 2rem);
                font-weight: v.$bold;
            }
        }

        &--link {
            margin: 0 auto;

            a {
                font-size: clamp(1.4rem, 1.8vw, 1.6rem);
            }
        }

        &--quafin {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;

            p {
                font-size: clamp(1.2rem, 1.5vw, 1.35rem);
                text-align: center;
            }

            .logo {
                width: 12.5rem;
            }
        }
    }

    &__leyenda {

        p,
        a {
            font-size: clamp(1.2rem, 1.6vw, 1.4rem);
        }

        p {
            color: v.$gris;
            margin-bottom: 2.5rem;

            &:last-child {
                text-align: center;
            }
        }
    }
}