@use "../../styles/base/variables" as v;

.blog__header {
    height: 50vh;
    background-image: radial-gradient(at bottom, #0890D0, v.$primario);
    display: flex;
    align-items: center;
    justify-content: end;
    color: v.$blanco;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15rem;

    h3 {
        max-width: 85%;
        margin: 0 auto;
    }

    &__tiempo {
        margin-top: 2rem;
    }
}

.articulo{
    margin-top: 5rem;
    p{
        margin-top: 2.5rem;
    }
}