@use '../../../styles/base/variables' as v;
@use '../../../styles/abstracts/mixins' as mx;

.btn {
    display: flex
}

.btn__primario {
    @include mx.btn(v.$primario);
    color: v.$blanco;
}

.btn__secundario {
    @include mx.btn(v.$blanco);
    color: v.$negro;
}