@use '../../../styles/base/variables' as v;
@use '../../../styles/abstracts/mixins' as mx;

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        background-color: v.$sombra;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: v.$b_radius;
        text-transform: uppercase;
        color: v.$secundario;
        font-size: clamp(1.2rem, 1.5vw, 1.3rem);
        border: 1px solid v.$azul;
    }

    p {
        color: v.$gris;
        margin-top: -1rem;
        text-align: center;
    }
}