  $primario: #114070;
  $secundario: #2667FF;
  $secundario-oscuro: #052546;
  $alerta: #ff0000;
  $blanco: #ffffff;
  $negro: #000000;
  $gris: #899eb1;
  $azul: #E7F4FB;
  $sombra: #F8FAFC;

  $font_primario: 'Poppins', sans-serif;

  $delgada: 300;
  $regular: 400;
  $bold: 700;
  $black: 900;

  $b_radius: 1.5rem;

  $telefono_pequeno: 500px;
  $telefono_mediano: 600px;
  $telefono_grande: 765px;
  $tablet_pequena: 1024px;
  $tablet_grande: 1280px;
  $desktop_mediana: 1366px;
  $desktop_grande: 1920px;